<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.yangxiaobin.android.codelab">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name=" android.permission.LOCAL_MAC_ADDRESS" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_android_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_android_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCodelab"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".multi_process.RemoteActivity"
            android:process=":remote_activity"></activity>

        <service android:name=".multi_process.LocalService"></service>

        <service
            android:name=".multi_process.RemoteService"
            android:process=":remote_service"></service>

        <provider
            android:name=".multi_process.RemoteContentProvider"
            android:authorities="me.yangxiaobin.remote.authorities"
            android:exported="false"
            android:process=":remote_provider"></provider>

        <provider
            android:name=".multi_process.LocalContentProvider"
            android:authorities="me.yangxiaobin.local.authorities"
            android:exported="false"></provider>

        <provider
            android:name=".multi_process.RemoteServiceProvider"
            android:authorities="me.yangxiaobin.remote.service.authorities"
            android:exported="false"
            android:process=":remote_service"></provider>

    </application>

</manifest>
